<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.st.dao.TimeDao">
<!-- SQL语句 -->

	<select id="test" resultType="string">
		select now()
	</select>
	
<select id="time_list" resultType="map" parameterType="map">
	select * from crm_visitlog  
	where Visit_id like '%${check}%' or 
	Visit_user_id like '%${check}%' or  
	Visit_customer_id like '%${check}%' or 
	Visit_customer_info like '%${check}%' or 
	Visit_time like '%${check}%' or
	Visit_payment like '%${check}%' or 
	Visit_money like '%${check}%' or
	Visit_way_id like '%${check}%' 
	limit ${start},${limit}
</select>
	
<select id="getCount" resultType="int" parameterType="map">
	select count(Visit_id) from crm_visitlog    
	where Visit_id like '%${check}%' or 
	Visit_user_id like '%${check}%' or  
	Visit_customer_id like '%${check}%' or 
	Visit_customer_info like '%${check}%' or 
	Visit_time like '%${check}%' or
	Visit_payment like '%${check}%' or 
	Visit_money like '%${check}%' or
	Visit_way_id like '%${check}%' 
</select>

<delete id="time_del" parameterType="map">
   delete from crm_visitlog where Visit_id=#{Visit_id}
</delete>

<insert id="time_save" parameterType="map">
    insert into crm_visitlog(Visit_id, Visit_user_id, Visit_customer_id, Visit_payment, Visit_money, Visit_customer_info) 
    values (#{uuid}, #{visit_user_id},#{visit_customer_id}, #{visit_payment},#{visit_money},#{visit_customer_info})
</insert>
<update id="time_update" parameterType="map">
   update crm_visitlog    
   set Visit_payment=#{visit_payment},
   Visit_money=#{visit_money} 
   where Visit_id=#{visit_id}
</update>
<delete id="time_del_more" parameterType="map">
    delete from crm_visitlog where Visit_id in (${timeids})
</delete>

</mapper>